body {
   /*background-image: url("./assets/images/digital-background-with-cybernetic-particles.jpg");*/
}

body {
    background-color: blueviolet;
}

header {
    padding: 0px;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: gray;
    color: whitesmoke;
}

header h1 {
    display: inline-block;
    font-size: 30px;
}

.sam-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    border-style: solid;
    border-width: 2px;
}

img {
    max-width: 50%;
    height: auto;
}


a {

    color: #ffffff;
    display: inline-block;
    margin-left: 15px;
}

#links  { 
    padding: 15px;
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    list-style-type: none;
    display: inline-block;
    margin-left: 0px;

}
.content {

}

.about-me {

}

.projects {
    
}

.contact {
    
}